<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smieci.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".oNas"
            android:label="@string/title_activity_o_nas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smieci.app.MainActivity" />
        </activity>
        <activity
            android:name=".o360"
            android:label="@string/title_activity_o360"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smieci.app.MainActivity" />
        </activity>
        <activity
            android:name=".Przed_i_po"
            android:label="@string/title_activity_przed_i_po"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smieci.app.MainActivity" />
        </activity>
        <activity
            android:name=".Vr1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_vr_onz"
            android:parentActivityName=".o360"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smieci.app.o360" />
        </activity>
        <activity
            android:name=".vrRotunda"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_vr_rotunda"
            android:parentActivityName=".o360"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smieci.app.o360" />
        </activity>
        <activity
            android:name=".vrMetropol"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_vr_metropol"
            android:parentActivityName=".o360"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smieci.app.o360" />
        </activity>
        <activity
            android:name=".slide1"
            android:label="@string/title_activity_slide1"
            android:parentActivityName=".Przed_i_po"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smieci.app.Przed_i_po" />
        </activity>
    </application>

</manifest>